In [33]:
import pandas as pd

In [34]:
df=pd.read_csv("Students1.csv")

In [35]:
print(df)

    Roll_no   Name  Height   Weight   Stipend
0         1    Joy      150       89    15000
1         2     He      152       45    16450
2         3     Nu      123       62    48000
3         4     JS      145       96    14000
4         5     FD      125       85    19000
5         6     LG      135       45    16000
6         7     HJ      126       55    17000
7         8     KT      124       56    13500
8         9     GY      126       57    17800
9        10     UI      154       54    19800
10       11    FDS      124       59    16500
11       12    VVD      123       64    13480
12       13    GGF      124       58    19800
13       14     JG      128       68    14700
14       15     SG      135       69    16350
15       16     CB      124       65    15633
16       17     HT      126       75    13258
17       18     FG      157       85    12547
18       19     SF      148       96    12365
19       20     EG      184       61    12458
20       21   ZDFS      165       63    10245
21       22  GFXXF      124       68    10354
22       23   RSFX      135       65    10248
23       24   VXVX      173       62    10245
24       25      S      180       85    10246
25       26      F      124       86    98712
26       27      F      152       84   265410
27       28   RSFX      197       76   255468
28       29     FR      175       85    35146
29       30   FGDS      164       96    32548
30       31      F      128       74    10254
31       32     XF      145       85    65520
32       33     HT      134       82    94615
33       34   VXFS      189       83    35768
34       35   RSFX      134       91    13214
35       36    ITY      125       57    13456
36       37    GFG      145       59    12345
37       38   GXSR      137       53    12374
38       39     TR      124       58    13465
39       40   RDTD      126       86    12464
40       41    YRR      134       87    13254
41       42   TYTT      191       84    13264
42       43    YIO      126       82    12265
43       44   XEES      151       83    12643
44       45   POIU      178       69   126429
45       46    VXF      135       68   134625
46       47     WE      179       63   124636
47       48     TD      164       65   132462
48       49   GXSR      182       94   134678
49       50   FRSG      191       96    13264

In [3]:
df.columns = df.columns.str.strip()
cols_to_normalize = ['Height', 'Weight', 'Stipend']
for col in cols_to_normalize:
    min_val = df[col].min()
    max_val = df[col].max()
    df[col] = (df[col] - min_val) / (max_val - min_val)
print(df)

    Roll_no   Name    Height    Weight   Stipend
0         1    Joy  0.364865  0.862745  0.018635
1         2     He  0.391892  0.000000  0.024318
2         3     Nu  0.000000  0.333333  0.147963
3         4     JS  0.297297  1.000000  0.014716
4         5     FD  0.027027  0.784314  0.034311
5         6     LG  0.162162  0.000000  0.022554
6         7     HJ  0.040541  0.196078  0.026473
7         8     KT  0.013514  0.215686  0.012756
8         9     GY  0.040541  0.235294  0.029608
9        10     UI  0.418919  0.176471  0.037446
10       11    FDS  0.013514  0.274510  0.024514
11       12    VVD  0.000000  0.372549  0.012678
12       13    GGF  0.013514  0.254902  0.037446
13       14     JG  0.067568  0.450980  0.017459
14       15     SG  0.162162  0.470588  0.023926
15       16     CB  0.013514  0.392157  0.021116
16       17     HT  0.040541  0.588235  0.011808
17       18     FG  0.459459  0.784314  0.009022
18       19     SF  0.337838  1.000000  0.008308
19       20     EG  0.824324  0.313725  0.008673
20       21   ZDFS  0.567568  0.352941  0.000000
21       22  GFXXF  0.013514  0.450980  0.000427
22       23   RSFX  0.162162  0.392157  0.000012
23       24   VXVX  0.675676  0.333333  0.000000
24       25      S  0.770270  0.784314  0.000004
25       26      F  0.013514  0.803922  0.346705
26       27      F  0.391892  0.764706  1.000000
27       28   RSFX  1.000000  0.607843  0.961037
28       29     FR  0.702703  0.784314  0.097588
29       30   FGDS  0.554054  1.000000  0.087406
30       31      F  0.067568  0.568627  0.000035
31       32     XF  0.297297  0.784314  0.216625
32       33     HT  0.148649  0.725490  0.330649
33       34   VXFS  0.891892  0.745098  0.100025
34       35   RSFX  0.148649  0.901961  0.011636
35       36    ITY  0.027027  0.235294  0.012584
36       37    GFG  0.297297  0.274510  0.008230
37       38   GXSR  0.189189  0.156863  0.008344
38       39     TR  0.013514  0.254902  0.012619
39       40   RDTD  0.040541  0.803922  0.008696
40       41    YRR  0.148649  0.823529  0.011792
41       42   TYTT  0.918919  0.764706  0.011832
42       43    YIO  0.040541  0.725490  0.007916
43       44   XEES  0.378378  0.745098  0.009398
44       45   POIU  0.743243  0.470588  0.455329
45       46    VXF  0.162162  0.450980  0.487449
46       47     WE  0.756757  0.352941  0.448302
47       48     TD  0.554054  0.392157  0.478972
48       49   GXSR  0.797297  0.960784  0.487657
49       50   FRSG  0.918919  1.000000  0.011832