In [24]:
#Q1
import pandas as pd

In [25]:
df=pd.read_csv("patient_details.csv")
print ("Patient Details Dataset:")
print(df)

Patient Details Dataset:
    patient_id          name   age  gender     city admission_date height_cm
0         P001           NaN  25.0       F   mumbai     15-01-2024       180
1         P002  Rahul Sharma  60.0       F    Delhi     16-01-2024       170
2         P003    Neha Singh  45.0       M   Mumbai     16-01-2024       150
3         P004    Neha Singh  60.0    Male  kolkata     15-01-2024       170
4         P005    Neha Singh  25.0    Male  kolkata     15-01-2024       180
..         ...           ...   ...     ...      ...            ...       ...
125       P006   Anita Verma  25.0       M   Mumbai     15-01-2024       150
126       P007    Neha Singh  25.0       F  kolkata     15-01-2024       150
127       P008     John Paul  60.0       F  Chennai     15-01-2024       160
128       P009           NaN  45.0       M   Mumbai     15-01-2024       150
129       P010  Rahul Sharma  60.0  Female  Chennai     16-01-2024       150

[130 rows x 7 columns]

In [26]:
print(df.ndim)

2

In [27]:
print(df.size)

910

In [28]:
print(df.head(5))

  patient_id          name   age gender     city admission_date height_cm
0       P001           NaN  25.0      F   mumbai     15-01-2024       180
1       P002  Rahul Sharma  60.0      F    Delhi     16-01-2024       170
2       P003    Neha Singh  45.0      M   Mumbai     16-01-2024       150
3       P004    Neha Singh  60.0   Male  kolkata     15-01-2024       170
4       P005    Neha Singh  25.0   Male  kolkata     15-01-2024       180

In [29]:
print(df.tail(5))

    patient_id          name   age  gender     city admission_date height_cm
125       P006   Anita Verma  25.0       M   Mumbai     15-01-2024       150
126       P007    Neha Singh  25.0       F  kolkata     15-01-2024       150
127       P008     John Paul  60.0       F  Chennai     15-01-2024       160
128       P009           NaN  45.0       M   Mumbai     15-01-2024       150
129       P010  Rahul Sharma  60.0  Female  Chennai     16-01-2024       150

In [30]:
print(df.describe())

              age
count  106.000000
mean    35.849057
std     21.015546
min     -5.000000
25%     25.000000
50%     30.000000
75%     60.000000
max     60.000000

In [31]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   patient_id      130 non-null    object
 1   name            107 non-null    object
 2   age             106 non-null    float64
 3   gender          130 non-null    object
 4   city            130 non-null    object
 5   admission_date  130 non-null    object
 6   height_cm       130 non-null    object
dtypes: float64(1), object(6)
memory usage: 7.2+ KB
None

In [32]:
print("\nChecking for missing values:")
print(df.isnull())

Checking for missing values:
     patient_id   name    age  gender   city  admission_date  height_cm
0         False   True  False   False  False           False      False
1         False  False  False   False  False           False      False
2         False  False  False   False  False           False      False
3         False  False  False   False  False           False      False
4         False  False  False   False  False           False      False
..          ...    ...    ...     ...    ...             ...        ...
125       False  False  False   False  False           False      False
126       False  False  False   False  False           False      False
127       False  False  False   False  False           False      False
128       False   True  False   False  False           False      False
129       False  False  False   False  False           False      False

[130 rows x 7 columns]

In [33]:
print(df.isnull().sum())

patient_id         0
name              23
age               24
gender             0
city               0
admission_date     0
height_cm          0
dtype: int64

In [34]:
df['name'].fillna('Unknown', inplace=True)
print(df)
print(df.isnull().sum())

    patient_id          name   age  gender     city admission_date height_cm
0         P001       Unknown  25.0       F   mumbai     15-01-2024       180
1         P002  Rahul Sharma  60.0       F    Delhi     16-01-2024       170
2         P003    Neha Singh  45.0       M   Mumbai     16-01-2024       150
3         P004    Neha Singh  60.0    Male  kolkata     15-01-2024       170
4         P005    Neha Singh  25.0    Male  kolkata     15-01-2024       180
..         ...           ...   ...     ...      ...            ...       ...
125       P006   Anita Verma  25.0       M   Mumbai     15-01-2024       150
126       P007    Neha Singh  25.0       F  kolkata     15-01-2024       150
127       P008     John Paul  60.0       F  Chennai     15-01-2024       160
128       P009       Unknown  45.0       M   Mumbai     15-01-2024       150
129       P010  Rahul Sharma  60.0  Female  Chennai     16-01-2024       150

[130 rows x 7 columns]
patient_id         0
name               0
age               24
gender             0
city               0
admission_date     0
height_cm          0
dtype: int64

C:\Users\Shivansh\AppData\Local\Temp\ipykernel_27504\4215985266.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['name'].fillna('Unknown', inplace=True)

In [35]:
df['age'].fillna(df['age'].mean(), inplace=True)
print(df)
print(df.isnull().sum())

    patient_id          name   age  gender     city admission_date height_cm
0         P001       Unknown  25.0       F   mumbai     15-01-2024       180
1         P002  Rahul Sharma  60.0       F    Delhi     16-01-2024       170
2         P003    Neha Singh  45.0       M   Mumbai     16-01-2024       150
3         P004    Neha Singh  60.0    Male  kolkata     15-01-2024       170
4         P005    Neha Singh  25.0    Male  kolkata     15-01-2024       180
..         ...           ...   ...     ...      ...            ...       ...
125       P006   Anita Verma  25.0       M   Mumbai     15-01-2024       150
126       P007    Neha Singh  25.0       F  kolkata     15-01-2024       150
127       P008     John Paul  60.0       F  Chennai     15-01-2024       160
128       P009       Unknown  45.0       M   Mumbai     15-01-2024       150
129       P010  Rahul Sharma  60.0  Female  Chennai     16-01-2024       150

[130 rows x 7 columns]
patient_id        0
name              0
age               0
gender            0
city              0
admission_date    0
height_cm         0
dtype: int64

C:\Users\Shivansh\AppData\Local\Temp\ipykernel_27504\506540456.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].mean(), inplace=True)

In [36]:

# Q2
import pandas as pd

In [37]:
print(df.ndim)

2

In [38]:
print(df.head(5))

  patient_id          name   age gender     city admission_date height_cm
0       P001       Unknown  25.0      F   mumbai     15-01-2024       180
1       P002  Rahul Sharma  60.0      F    Delhi     16-01-2024       170
2       P003    Neha Singh  45.0      M   Mumbai     16-01-2024       150
3       P004    Neha Singh  60.0   Male  kolkata     15-01-2024       170
4       P005    Neha Singh  25.0   Male  kolkata     15-01-2024       180

In [39]:
print(df.tail(5))

    patient_id          name   age  gender     city admission_date height_cm
125       P006   Anita Verma  25.0       M   Mumbai     15-01-2024       150
126       P007    Neha Singh  25.0       F  kolkata     15-01-2024       150
127       P008     John Paul  60.0       F  Chennai     15-01-2024       160
128       P009       Unknown  45.0       M   Mumbai     15-01-2024       150
129       P010  Rahul Sharma  60.0  Female  Chennai     16-01-2024       150

In [40]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   patient_id      130 non-null    object
 1   name            130 non-null    object
 2   age             130 non-null    float64
 3   gender          130 non-null    object
 4   city            130 non-null    object
 5   admission_date  130 non-null    object
 6   height_cm       130 non-null    object
dtypes: float64(1), object(6)
memory usage: 7.2+ KB
None

In [41]:
print(df.describe())

              age
count  130.000000
mean    35.849057
std     18.960094
min     -5.000000
25%     25.000000
50%     35.849057
75%     56.250000
max     60.000000

In [42]:
df=pd.read_csv("medical_records.csv")
print ("Medical Details Dataset:")
print(df)

Medical Details Dataset:
    record_id patient_id     diagnosis      bp  sugar_level  visit_cost
0        R101       P013  Hypertension  120/80        140.0        2000
1        R102       P105      Diabetes  120/80          NaN        2500
2        R103       P098  Hypertension    high        140.0        3000
3        R104       P038        Asthma  140/90          NaN        3000
4        R105       P040        Asthma  130/85          NaN        1500
..        ...        ...           ...     ...          ...         ...
115      R216       P081        Asthma    high        110.0        2500
116      R217       P033      Diabetes    high          NaN        1500
117      R218       P063  Hypertension  140/90          NaN        2000
118      R219       P011  Hypertension  130/85        180.0        2500
119      R220       P013  Hypertension    high        180.0        1500

[120 rows x 6 columns]

In [43]:
## print(df.isnull().sum())
df['sugar_level'].fillna('0', inplace=True)
print(df)

record_id       0
patient_id      0
diagnosis       0
bp              0
sugar_level    35
visit_cost      0
dtype: int64
    record_id patient_id     diagnosis      bp sugar_level  visit_cost
0        R101       P013  Hypertension  120/80       140.0        2000
1        R102       P105      Diabetes  120/80           0        2500
2        R103       P098  Hypertension    high       140.0        3000
3        R104       P038        Asthma  140/90           0        3000
4        R105       P040        Asthma  130/85           0        1500
..        ...        ...           ...     ...         ...         ...
115      R216       P081        Asthma    high       110.0        2500
116      R217       P033      Diabetes    high           0        1500
117      R218       P063  Hypertension  140/90           0        2000
118      R219       P011  Hypertension  130/85       180.0        2500
119      R220       P013  Hypertension    high       180.0        1500

[120 rows x 6 columns]

C:\Users\Shivansh\AppData\Local\Temp\ipykernel_27504\583017245.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sugar_level'].fillna('0', inplace=True)
C:\Users\Shivansh\AppData\Local\Temp\ipykernel_27504\583017245.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['sugar_level'].fillna('0', inplace=True)